body {
  background-color: #e5e5e5;
}

.Header {
  font-size: 60px;
  display: flex;
  background-image: linear-gradient(90deg, #ffac1d, #ff3880);
  background-size: 140%;
  background-position: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.Details {
  background-color: #d8d2c4;
  box-shadow: -5px -5px 15px #ffffff, 4px 4px 10px rgba(187, 147, 107, 0.25);
  border-radius: 5%;
  width: 100px;
  height: 60px;
  top: 5%;
  left: 2%;
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.UploadS3 {
  background-color: #e7c6eb;
  box-shadow: -5px -5px 15px #ffffff, 4px 4px 10px rgba(145, 181, 221, 0.25);
  border-radius: 5%;
  width: 150px;
  height: 60px;
  top: 5%;
  right: 10%;
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: rgb(189, 30, 189);
}

.AudioButton {
  background: #ffe4f3;
  box-shadow: -3px -3px 10px #ffffff, 4px 4px 10px rgba(255, 61, 169, 0.3);
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  position: absolute;
  width: 60px;
  height: 60px;
  right: 5%;
  top: 5%;
  color: #ff4689;
  font-size: 30px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  background: #ffe4f3;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

.H2 {
  margin-left: 5px;
  display: inline-block;
}

.H1 {
  font-weight: bold;
}

.bar {
  background-image: linear-gradient(90deg, #ffac1d, #ff3880);
  background-size: 140%;
  margin: auto;
  justify-content: center;

  width: 480px;
  height: 12px;
  left: 489px;
  top: 129px;

  background: linear-gradient(90deg, #ffc804 0%, #ff3880 100%);
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.25),
    inset 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.bCircle {
  margin: auto;
  margin-top: 25px;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  top: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  box-shadow: -6px -6px 15px #ffffff, 6px 6px 15px rgba(0, 0, 0, 0.25);
}

.fCircle {
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.05));
}
.ubutton {
  display: block;
  border: none;
  outline: none;
  width: 220px;
  padding: 5px 5px 10px 5px;
  margin: auto;
  margin-top: 25px;
  background: #ffefd8;
  box-shadow: -5px -5px 15px #ffffff, 4px 4px 10px rgba(255, 122, 0, 0.25);
  border-radius: 15px;
  cursor: pointer;
}

.uploadPic {
  height: 290px;
}

.b_inside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.Background {
  width: 100%;
}

.ubutton:hover {
  opacity: 75%;
}

.Bar2 {
  align-items: center;
  margin: auto;
  margin-top: 50px;
  width: 750px;
  height: 3px;
  background-color: black;
}
.contents {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  width: 800px;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: #fae7a4;
  border: 8px white solid;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 8px;
}

.one {
  background-color: #ffc804;
}

.S {
  color: rgb(124, 121, 121);
}
.Card {
  width: 200px;
  margin-top: -18px;
}

a {
  text-decoration: none;
}

.Loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ff7a00;
  font-weight: Bold;
  font-size: 25px;
}

.SignOutButton {
  position: absolute;
  background-color: #ffefd8;
  box-shadow: -5px -5px 15px #ffffff, 4px 4px 10px rgba(255, 122, 0, 0.25);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 12%;
  top: 5%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Info {
  background-color: white;
  max-width: 350px;
  max-height: 500px;
  overflow: scroll;
  position: absolute;
  word-wrap: break-word;
  padding: 10px;
  left: 2%;
  top: 13%;
  z-index: 999;
}
